@{
    ViewData["Title"] = "Home Page";
}

<div class="justify-content-center align-items-center text-center">
    <div class="container text-center">
        <div class="row text-center pb-2">
            <div class="col-12 pt-3">
                <h1 class="display-4 text-center">Search for Azure Documents</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 d-flex justify-content-center">
                <div id="searchBox"></div>
                <div id="navbar" class="navbar-collapse collapse">
                </div>
            </div>
        </div>
        <div class="row">
            <hr style="width: 100% !important; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div id="facetPanel" class="col-sm-3 col-md-3 sidebar collapse">
                        <div id="clearFilters"></div>
                        <ul class="nav nav-sidebar">
                            <div className="panel panel-primary behclick-panel">

                                <li>
                                    <div id="metadata_storage_file_extensionFacet">
                                    </div>
                                </li>
                                <li>
                                    <div id="keyphrasesFacet">
                                    </div>
                                </li>
                                <li>
                                    <div id="imageTagsFacet">
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 results_section">
                        <div id="results" class="row placeholders">
                        </div>
                        <div id="pager" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>