@model List<FileModel>
@{
    ViewData["Title"] = "File Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h4>Start Uploading Files Here</h4>
    <hr />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple required />
        <button type="submit" class="btn btn-primary" asp-controller="File" asp-action="Upload">Upload</button>
    </form>

    <hr />

</div>